html
{
    scroll-behavior:auto;
}


body
{
    font-family:"Gill Sans", sans-serif;
   
}
.bg-img {
    background-image: url("company_img.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.header{
    position: absolute;
    margin-top: 50px;
    
}
a{
    padding: 100px;
    margin: 50px;
    margin-top: 100px;
    text-decoration: none;
    color: rgb(7, 1, 7);
    font-size:larger;
   
} 
.text{
    width:450px;
    height: 200px;
    background-color: rgb(49, 48, 48);
    color:rgb(240, 234, 234);
    position: absolute;
    left: 300px;
    top: 398px;
    z-index: 1; 
    opacity: 0.8;
    
 
}
h2{
    text-transform: capitalize;
    text-indent: 40px;
    margin:10px;
    text-size-adjust: 5px;
}
.btn-light{
    text-align: center;
    align-items: center;
    margin-left: 150px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
}
.m-heading
{
    font-family: 'Courier New', Courier, monospace;
}
nav{
    position:fixed;
}

   


.home
{
    align-items: center;
    text-align:center;
    margin-top:100px;
    background-color: rgba(39, 37, 37, 0);
}
.home1
{
    margin-top:250px;
    
}

.about
{
    background-color:rgb(230, 235, 239);
    margin:auto;
    margin-top:50px;
    color: black;
    margin-bottom: -100px;

}


.gallery1
{
    background-color:rgb(43, 46, 49);
    margin-top:50px;
   
}

.gallery2
{
    background-color:rgb(43, 46, 49);
    margin-top:50px;
   
}


.btn
{
    border:2px solid orange;
    font-weight: bold;
    font-size:large;
}
.btn:hover
{
    color:deepskyblue;
}
.box
{
       border-radius: 20px;
    transition: all 1s ease-in-out;
}
.col1:hover .box
{
    width: 330px;
    height: 300px;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-img {
    background-image: url("company_img.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}


.navbar-collapse{
    margin-right: 200px;
}


.text{
    width:450px;
    height: 200px;
    background-color: rgb(49, 48, 48);
    color:rgb(240, 234, 234);
    position: absolute;
    left: 300px;
    top: 398px;
    z-index: 1; 
    opacity: 0.8;
    
 
}
h2{
    text-transform: capitalize;
    text-indent: 40px;
    margin:10px;
    text-size-adjust: 5px;
}
.btn-light{
    text-align: center;
    align-items: center;
    margin-left: 150px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
} 
h2{
    text-transform: capitalize;
    text-indent: 40px;
    margin:10px;
    text-size-adjust: 5px;
}
.btn-light{
    text-align: center;
    align-items: center;
    margin-left: 150px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
} 
.brand-logo{
    margin-left: 150px;
    
}
.nav{
    margin: 150px;
} 


.gallery2
{

    background-color:rgb(224, 227, 230);
    margin-top:10px;
    color: black;
 
   
}
